/* 
  variables
*/
:root {
  --unit: 5vw;
  --underline-height: 6px;
  --grid-color: #878787;
  --white: #ffffff;
  --black: #000000;
  --yellow: #fcf113;
  --layer-0: 0;
  --layer-1: 10;
  --layer-2: 20;
  --layer-10: 100;
  
}

/* 
  animations
*/
@keyframes appear {
  from {
    transform: translateX(calc(var(--unit) * -0.5));
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
  
/* 
  override Tachyon's `serif` and `sans-serif` font stacks
*/
.serif {
  font-family: 'Sentinel', georgia, times, serif;
}

.sans-serif {
  font-family: 'Gotham', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

/* 
  global styles
*/
::selection { 
  background: var(--yellow);
}

body  {
  background-size: var(--unit) var(--unit);
  background-image: linear-gradient(to right, var(--grid-color) .5px, transparent 0px), linear-gradient(to bottom, var(--grid-color) .5px, transparent 0px);
}

/* 
  custom selectors are prefixed with a `_` to denote in the markup 
  that they were hand-authored, and do not come from tachyons.css
*/
._header-global {
  height: 5vw;
}

._nav-global {
  display: none;
}

._nav-global > a {
  color: var(--black);
}

._button-expand-mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--layer-10);
  background-color: var(--white);
  width: calc(var(--unit) * 2);
  height: calc(var(--unit) * 2);
  border: 1px solid var(--black);
  cursor: pointer;  
}

._button-expand-mobile-nav .hamburger-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
}

._button-expand-mobile-nav.hamburger:hover, 
._button-expand-mobile-nav.hamburger.is-active:hover {
  opacity: 1; /* verriding hamburger.css */
}

._button-expand-mobile-nav.is-active {
  background-color: var(--grid-color);
  border-color: var(--white);
}

._button-expand-mobile-nav.is-active .hamburger-inner, 
._button-expand-mobile-nav.is-active .hamburger-inner:after {
  background-color: var(--white);
}

._modal-menu {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--grid-color);
  background-size: var(--unit) var(--unit);
  background-image: linear-gradient(to right, var(--white) .5px, transparent 0px), linear-gradient(to bottom, var(--white) .5px, transparent 0px);
  position: fixed; 
  z-index: var(--layer-2);
}

._branding-global {
  background-color: var(--white);
  padding-left: calc(var(--unit) * 3.5);
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: calc(var(--unit) * 0.8);
  background-size: calc(var(--unit) * 2);
  height: calc(var(--unit) * 2);
}


._section-welcome {
}

._inner-welcome {
}

._article-info {
  
}

._article-info._address {
}

._article-info._network {
}

._article-info._contact {
}

._wrapper-info {
  
}

._section-get-here {
  
}

._header-get-here,
._header-places,
._header-studio {
}

._inner-get-here,
._inner-places,
._inner-studio {
}

._content-get-here {
  
}

._items-get-here {
}

._item-get-here {
}

._section-places {
 
}

._content-places {
  
}

._inner-expandable {
}

._article-expandable._expanded ._arrow-expandable {
}


._title-expandable {
  
}

._underline-expandable {

}

._article-expandable._placeholder ._header-expandable {
}

._heading-expandable:hover ._underline-expandable,
._article-expandable._expanded ._underline-expandable {
}

._arrow-expandable {
  
}

._content-places ._arrow-expandable {
}

._content-studio ._arrow-expandable {
}

._header-expandable {
}

._section-places-list,
._response-studio {
}

._item-place {
}

._item-place:hover {
}

._item-place-name:after {
}

._marker-place {
  
}

._marker-place ._icon-place {
}

._marker-place._active ._icon-place,
._marker-place:hover ._icon-place {
}

._marker-place ._icon-ideo {
}

._section-studio {
}

._content-studio {
}

._footer-studio {
}

._button-group-login {
}

._title-google {
}

._button-login {
  
}

._button-login._ideo {
}

._button-login._ideoorg {
  
}

._footer-global {
  
}

._footer-global ._article-info {
  
}

._footer-global ._branding-global {
}


/* 
  equivalent of Tachyon's `ns`
  everything above mobile size
*/
@media screen and (min-width: 30ms) {

}

/* 
  equivalent of Tachyon's `ns`
  covers roughly tablets
*/
@media screen and (min-width: 30em) and (max-width: 60em) { 

}

/* 
  equivalent of Tachyon's `ns`
  covers roughly desktops
*/
@media screen and (min-width: 60em) {

  :root {
    --unit: 2.5vw;
  }

  ._header-global {
    height: 5vw;
  }

  ._nav-global {
    display: flex;
  }
  
  ._nav-global > a {
    margin-left: var(--unit);
    background-color: var(--white);
    color: var(--black);
  }
  
  ._button-expand-mobile-nav {
    display: none;
  }

  ._branding-global {
    background-color: var(--white);
    padding-left: calc(var(--unit) * 3.5);
    background-image: url('./images/logo.svg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: calc(var(--unit) * 0.8);
    background-size: calc(var(--unit) * 2);
  }
  
  ._section-welcome {
    margin-top: calc(var(--unit) * 4);
  }
  
  ._inner-welcome {
    position: relative;
  }
  
  ._article-info {
    height: calc(var(--unit) * 2);
    padding-left: calc(var(--unit) * 3);
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: calc(var(--unit) * 0.8);
    background-size: calc(var(--unit) * 1.2);
  }
  
  ._article-info._address {
    background-image: url('./images/location.svg');
  }
  
  ._article-info._network {
    background-image: url('./images/wifi.svg');
  }
  
  ._article-info._contact {
    background-image: url('./images/contact.svg');
  }
  
  ._wrapper-info {
    position: absolute;
    top: calc(var(--unit) * 6);
    width: calc(var(--unit) * 15);
    height: calc(var(--unit) * 6);
  }
  
  ._section-get-here {
    position: absolute;
    top: calc(var(--unit) * 21);   
  }
  
  ._header-get-here,
  ._header-places,
  ._header-studio {
    height: calc(var(--unit) * 2);
    padding-left: calc(var(--unit) * 1);
  }
  
  ._inner-get-here,
  ._inner-places,
  ._inner-studio {
    background-color: var(--white);
  }
  
  ._content-get-here {
    height: calc(var(--unit) * 15);
    overflow-y: scroll;
  }
  
  ._items-get-here {
    padding: calc(var(--unit) * 1) calc(var(--unit) * 2);
  }
  
  ._item-get-here {
    padding: calc(var(--unit) * 1) calc(var(--unit) * 2);
  }
  
  ._section-places {
    position: absolute;
    top: calc(var(--unit) * 41);
    height: calc(var(--unit) * 10);
  }
  
  ._content-places {
    height: calc(var(--unit) * 15);
    overflow-y: scroll;
  }
  
  ._inner-expandable {
    position: relative;
  }
  
  ._article-expandable._expanded ._arrow-expandable {
    transform: rotate(90deg);
  }
  
  
  ._title-expandable {
    z-index: var(--layer-1);
    position: relative;
  }
  
  ._underline-expandable {
    content: '';
    position: relative;
    z-index: var(--layer-0);
    width: auto;
    height: var(--underline-height);
    bottom: 8px;
    left: 0;
    visibility: hidden;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: transform 0.2s ease-in 0s;
  }
  
  ._article-expandable._placeholder ._header-expandable {
    background-color: #eee;
  }
  
  ._heading-expandable:hover ._underline-expandable,
  ._article-expandable._expanded ._underline-expandable {
    visibility: visible;
    transform: scaleX(1);
  }
  
  ._arrow-expandable {
    position: relative;
    background-image: url('./images/arrow.svg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: 8%;
    transition: transform 0.2s ease-in 0s;
  }
  
  ._content-places ._arrow-expandable {
    top: calc(var(--underline-height) * -1);
  }
  
  ._content-studio ._arrow-expandable {
    top: calc(var(--unit) * 0.5 );
  }
  
  ._header-expandable {
    cursor: pointer;
  }
  
  ._section-places-list,
  ._response-studio {
    animation-duration: .3s;
    animation-name: appear;
  }
  
  ._item-place {
    cursor: pointer;
    transition: color .2s ease;
    color: var(--black);
  }
  
  ._item-place:hover {
    color: var(--grid-color);
  }
  
  ._item-place-name:after {
    content: ','
  }
  
  ._marker-place {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    height: calc(var(--unit) * 0.5);
    width: calc(var(--unit) * 0.5);
    user-select: none;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.1s ease-in transform;
  }
  
  ._marker-place ._icon-place {
    transform: scale(2.5);
    transition: 0.2s ease-out transform;
  }
  
  ._marker-place._active ._icon-place,
  ._marker-place:hover ._icon-place {
    transform: scale(3.7);
  }
  
  ._marker-place ._icon-ideo {
    transform: scale(1.7);
  }
  
  ._section-studio {
    position: absolute;
    top: calc(var(--unit) * 61);
    height: calc(var(--unit) * 20);
  }
  
  ._content-studio {
    height: calc(var(--unit) * 15);
  }
  
  ._footer-studio {
    height: calc(var(--unit) * 5);
  }
  
  ._button-group-login {
    height: calc(var(--unit) * 1.5);
  }
  
  ._title-google {
    background: url('./images/google.png') center center no-repeat var(--white);
    background-size: 20%;
  }
  
  ._button-login {
    background-position: center center;
    background-color: var(--black);
    background-repeat: no-repeat;
    font-size: 0;
    border: none;
    cursor: pointer;
  }
  
  ._button-login._ideo {
    background-image: url('./images/logo-white.svg');
    background-size: 30%;
  }
  
  ._button-login._ideoorg {
    background-image: url('./images/orglogo-white.svg');
    background-size: 50%;
    font-size: 0;
    border: none;
    border-left: 1px solid var(--white);
  }
  
  ._footer-global {
    position: absolute;
    top: calc(var(--unit) * 90);
    height: calc(var(--unit) * 3);
    background-color: var(--white);
  }
  
  ._footer-global ._article-info {
    font-size: 0.7rem;
    background-size: calc(var(--unit) * 0.9);
    background-position: calc(var(--unit) * 0.3);
    padding-left: calc(var(--unit) * 1.8);
    width: 100%;
  }
  
  ._footer-global ._branding-global {
    padding-left: calc(var(--unit) * 3);
  }
}