.container {
  
}

.curtain {
  background-color: black;
  min-height: 100vh;
  margin-bottom: 100vh;
  height: auto;
}

.lifted {
  margin-bottom: 0!important;
}

.behind {
  position: fixed;
  background-color: white;
  z-index: -1;
  top: 0vh;
  left: 0;
}

.released {
  position: relative!important;
  z-index: 1!important;
}

.linescontainer {
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
  z-index: 2;
}

.line {
  position: relative;
  z-index: 3;
  transform-origin: top right;
  will-change: transform;
  background-color: rgba(0, 0, 0, 1);
  transition: 100ms ease-in transform;
}